<header class="header container">
  <div class="center">
    <h1 itemprop="name">Vende-se tudo!</h1>
    <h5>ou quase...</h5>
  </div>
  
  <p itemprop="description">
    <strong>Em breve vou me mudar!</strong>
      Mas infelizmente não posso levar tudo. Separei algumas coisas (eletrônicos na maioria) legais com preços razoáveis, com detalhes nas descrições de cada produto.
  </p>
  <p>
    <strong>Gostou de alguma coisa?</strong> envie um email para <a href="mailto:sonny.webdsg@gmail.com">sonny.webdsg(at)gmail.com</a>
    com os produtos que você tem interesse.
  </p>
  <p>
    <ul>
      <li>Os produtos só serão liberados após confirmação do pagamento, que deverá ser realizado por transferência bancária (Itaú).</li>
      <li><strong>Os valores são à vista</strong>; Caso você compre mais de um item, o valor continua à vista.</li>
      <li>Alguns produtos serão disponibilizados no MercadoLivre, nesse caso você pode parcelar através da plataforma com juros inclusos.</li>
      <li>Você pode reservar qualquer produto por 3 (três) dias; se o pagamento não for efetuado nesse prazo, o mesmo será colocado de volta à venda.</li>
      <li><strong>Os preços não são negociáveis</strong>; caso você compre mais de um item, o valor não muda.</li>
      <li>A retirada (transporte, etc.) é de sua responsabilidade, assim como a montagem (Som, TV, etc.). Para coisas pequenas, recomendo o <a href="https://www.loggi.com/s/5C7V8V-t/">Loggi</a>; a primeira retirada/entrega é grátis!</li>
      <li>Os produtos devem ser retirados preferencialmente em Santo André (ABC Paulista); mas podemos combinar um dia e horário em algum local de São Paulo para entrega em mãos, o que significa que <strong>não enviarei nada para lugar algum.</strong></li>
      <li><strong>Todas as vendas são finais</strong>; veja o produto, teste pois não troco os produtos ou reembolso em caso após a compra.</li>
    </ul>
  </p>
</header>