.wrap {
  padding: 3rem 0;
}

.container {
  margin: 0 auto;
  max-width: 37.5em;
  width: 80%;
}

.center {
  text-align: center;
}

.footer {
  background: #dedede;
  background: rgba(0,0,0,0.05);
  border-radius: 0.25em;
  margin-top: 2.5em;
  padding: 1em;
  text-align: center;
}