.product-list {
  display:flex;
  flex-direction:row;
  flex-flow:row wrap;

  list-style: none;
  padding: 0;
  margin: 0;
}

.product {
  padding: 20px;
  max-width: 100%;
  margin-top:20px;

  ul>li {
    list-style-type: disc;
  }

  &__picture { position:relative; margin: 1em 0; }

  h3{font-size:18px}

  h3, p:first-child { margin:0 }

  .tag {
    color:#fff;
    font-weight:bold;
    padding:5px 10px;
    position:absolute;
    right:20px;
    bottom:20px;
    font-family:sans-serif
  }

  .price{background:#91cd26}
  .reserved{background:#fec90d}
  .sold{background:#eb452e}
  .soon{background:#17bcfe}
}

@media only screen and (min-width: 40rem) {
    .product {
        max-width: 50%;
    }
}